[Desktop Entry]

# Copyright Reserved by ArchWiki
# https://wiki.archlinux.org/title/Desktop_entries

Type=Application

Name=conky

Comment=Desktop Gadget

# The executable of the application, possibly with arguments.
Exec=conky & -b ~/.conkyrc 

# The name of the icon that will be used to display this entry
Icon=desktop-effects

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=;

GenericName=Desktop Gadget that reads from sensors
