# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=Balena Etcher
Comment=Bootable USB
Icon=balena-etcher
# https://etcher.balena.io/
Exec=/mnt/hdd2/PortablePrograms/balenaEtcher-linux-x64/balena-etcher
Terminal=false
Categories=;
