[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Image Manipulation Program
Name[ar]=GNU Image Manipulation Program
Name[ast]=GNU Image Manipulation Program
Name[be]=GNU Image Manipulation Program
Name[bg]=GNU Image Manipulation Program
Name[br]=GNU Image Manipulation Program
Name[bs]=GNU Image Manipulation Program
Name[ca]=GNU Image Manipulation Program
Name[ca@valencia]=GNU Image Manipulation Program
Name[cs]=GNU Image Manipulation Program
Name[csb]=GNU Image Manipulation Program
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[dz]=GNU Image Manipulation Program
Name[el]=GNU Image Manipulation Program
Name[en_CA]=GNU Image Manipulation Program
Name[en_GB]=GNU Image Manipulation Program
Name[eo]=GNU Image Manipulation Program
Name[es]=GNU Image Manipulation Program
Name[et]=GNU Image Manipulation Program
Name[eu]=GNU Image Manipulation Program
Name[fa]=GNU Image Manipulation Program
Name[fi]=GNU Image Manipulation Program
Name[fr]=GNU Image Manipulation Program
Name[gd]=GNU Image Manipulation Program
Name[gl]=GNU Image Manipulation Program
Name[gu]=GNU Image Manipulation Program
Name[he]=GNU Image Manipulation Program
Name[hr]=GNU Image Manipulation Program
Name[hu]=GNU Image Manipulation Program
Name[id]=GNU Image Manipulation Program
Name[is]=GNU Image Manipulation Program
Name[it]=GNU Image Manipulation Program
Name[ja]=GNU Image Manipulation Program
Name[ka]=GNU Image Manipulation Program
Name[km]=GNU Image Manipulation Program
Name[kn]=GNU Image Manipulation Program
Name[ko]=GNU Image Manipulation Program
Name[ky]=GNU Image Manipulation Program
Name[lt]=GNU Image Manipulation Program
Name[lv]=GNU Image Manipulation Program
Name[mk]=GNU Image Manipulation Program
Name[ml]=GNU Image Manipulation Program
Name[mr]=GNU Image Manipulation Program
Name[my]=GNU Image Manipulation Program
Name[nb]=GNU Image Manipulation Program
Name[nds]=GNU Image Manipulation Program
Name[ne]=GNU Image Manipulation Program
Name[nl]=GNU Image Manipulation Program
Name[nn]=GNU Image Manipulation Program
Name[oc]=GNU Image Manipulation Program
Name[pa]=GNU Image Manipulation Program
Name[pl]=GNU Image Manipulation Program
Name[pt]=GNU Image Manipulation Program
Name[pt_BR]=GNU Image Manipulation Program
Name[ro]=GNU Image Manipulation Program
Name[ru]=GNU Image Manipulation Program
Name[si]=GNU Image Manipulation Program
Name[sk]=GNU Image Manipulation Program
Name[sl]=GNU Image Manipulation Program
Name[sr]=GNU Image Manipulation Program
Name[sr@latin]=GNU Image Manipulation Program
Name[sv]=GNU Image Manipulation Program
Name[ta]=GNU Image Manipulation Program
Name[te]=GNU Image Manipulation Program
Name[th]=GNU Image Manipulation Program
Name[tr]=GNU Image Manipulation Program
Name[tt]=GNU Image Manipulation Program
Name[uk]=GNU Image Manipulation Program
Name[vi]=GNU Image Manipulation Program
Name[zh_CN]=GNU Image Manipulation Program
Name[zh_HK]=GNU Image Manipulation Program
Name[zh_TW]=GNU Image Manipulation Program
GenericName=Image Editor
GenericName[ar]=Image Editor
GenericName[ast]=Image Editor
GenericName[be]=Image Editor
GenericName[bg]=Image Editor
GenericName[br]=Image Editor
GenericName[bs]=Image Editor
GenericName[ca]=Image Editor
GenericName[ca@valencia]=Image Editor
GenericName[cs]=Image Editor
GenericName[da]=Image Editor
GenericName[de]=Image Editor
GenericName[dz]=Image Editor
GenericName[el]=Image Editor
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Image Editor
GenericName[es]=Image Editor
GenericName[et]=Image Editor
GenericName[eu]=Image Editor
GenericName[fa]=Image Editor
GenericName[fi]=Image Editor
GenericName[fr]=Image Editor
GenericName[gd]=Image Editor
GenericName[gl]=Image Editor
GenericName[gu]=Image Editor
GenericName[hr]=Image Editor
GenericName[hu]=Image Editor
GenericName[id]=Image Editor
GenericName[is]=Image Editor
GenericName[it]=Image Editor
GenericName[ja]=Image Editor
GenericName[ka]=Image Editor
GenericName[kk]=Image Editor
GenericName[km]=Image Editor
GenericName[kn]=Image Editor
GenericName[ko]=Image Editor
GenericName[ky]=Image Editor
GenericName[lt]=Image Editor
GenericName[lv]=Image Editor
GenericName[mk]=Image Editor
GenericName[mr]=Image Editor
GenericName[my]=Image Editor
GenericName[nb]=Image Editor
GenericName[nds]=Image Editor
GenericName[ne]=Image Editor
GenericName[nl]=Image Editor
GenericName[nn]=Image Editor
GenericName[oc]=Image Editor
GenericName[pa]=Image Editor
GenericName[pl]=Image Editor
GenericName[pt]=Image Editor
GenericName[pt_BR]=Image Editor
GenericName[ro]=Image Editor
GenericName[ru]=Image Editor
GenericName[sk]=Image Editor
GenericName[sl]=Image Editor
GenericName[sr]=Image Editor
GenericName[sr@latin]=Image Editor
GenericName[sv]=Image Editor
GenericName[ta]=Image Editor
GenericName[te]=Image Editor
GenericName[th]=Image Editor
GenericName[tr]=Image Editor
GenericName[tt]=Image Editor
GenericName[uk]=Image Editor
GenericName[vi]=Image Editor
GenericName[xh]=Image Editor
GenericName[zh_CN]=Image Editor
GenericName[zh_HK]=Image Editor
GenericName[zh_TW]=Image Editor
Comment=Create images and edit photographs
Comment[ar]=Create images and edit photographs
Comment[ast]=Create images and edit photographs
Comment[be]=Create images and edit photographs
Comment[bg]=Create images and edit photographs
Comment[br]=Create images and edit photographs
Comment[bs]=Create images and edit photographs
Comment[ca]=Create images and edit photographs
Comment[ca@valencia]=Create images and edit photographs
Comment[cs]=Create images and edit photographs
Comment[da]=Create images and edit photographs
Comment[de]=Create images and edit photographs
Comment[dz]=Create images and edit photographs
Comment[el]=Create images and edit photographs
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Create images and edit photographs
Comment[es]=Create images and edit photographs
Comment[et]=Create images and edit photographs
Comment[eu]=Create images and edit photographs
Comment[fi]=Create images and edit photographs
Comment[fr]=Create images and edit photographs
Comment[gd]=Create images and edit photographs
Comment[gl]=Create images and edit photographs
Comment[gu]=Create images and edit photographs
Comment[hr]=Create images and edit photographs
Comment[hu]=Create images and edit photographs
Comment[id]=Create images and edit photographs
Comment[is]=Create images and edit photographs
Comment[it]=Create images and edit photographs
Comment[ja]=Create images and edit photographs
Comment[ka]=Create images and edit photographs
Comment[kk]=Create images and edit photographs
Comment[km]=Create images and edit photographs
Comment[kn]=Create images and edit photographs
Comment[ko]=Create images and edit photographs
Comment[lt]=Create images and edit photographs
Comment[lv]=Create images and edit photographs
Comment[mk]=Create images and edit photographs
Comment[mr]=Create images and edit photographs
Comment[my]=Create images and edit photographs
Comment[nb]=Create images and edit photographs
Comment[ne]=Create images and edit photographs
Comment[nl]=Create images and edit photographs
Comment[nn]=Create images and edit photographs
Comment[oc]=Create images and edit photographs
Comment[pa]=Create images and edit photographs
Comment[pl]=Create images and edit photographs
Comment[pt]=Create images and edit photographs
Comment[pt_BR]=Create images and edit photographs
Comment[ro]=Create images and edit photographs
Comment[ru]=Create images and edit photographs
Comment[sk]=Create images and edit photographs
Comment[sl]=Create images and edit photographs
Comment[sr]=Create images and edit photographs
Comment[sr@latin]=Create images and edit photographs
Comment[sv]=Create images and edit photographs
Comment[ta]=Create images and edit photographs
Comment[te]=Create images and edit photographs
Comment[tr]=Create images and edit photographs
Comment[uk]=Create images and edit photographs
Comment[vi]=Create images and edit photographs
Comment[zh_CN]=Create images and edit photographs
Comment[zh_HK]=Create images and edit photographs
Comment[zh_TW]=Create images and edit photographs
Keywords=GIMP;graphic;design;illustration;painting;
Keywords[ar]=GIMP;graphic;design;illustration;painting;
Keywords[ca]=GIMP;graphic;design;illustration;painting;
Keywords[ca@valencia]=GIMP;graphic;design;illustration;painting;
Keywords[cs]=GIMP;graphic;design;illustration;painting;
Keywords[da]=GIMP;graphic;design;illustration;painting;
Keywords[de]=GIMP;graphic;design;illustration;painting;
Keywords[el]=GIMP;graphic;design;illustration;painting;
Keywords[en_GB]=GIMP;graphic;design;illustration;painting;
Keywords[es]=GIMP;graphic;design;illustration;painting;
Keywords[eu]=GIMP;graphic;design;illustration;painting;
Keywords[fi]=GIMP;graphic;design;illustration;painting;
Keywords[fr]=GIMP;graphic;design;illustration;painting;
Keywords[gl]=GIMP;graphic;design;illustration;painting;
Keywords[hr]=GIMP;graphic;design;illustration;painting;
Keywords[hu]=GIMP;graphic;design;illustration;painting;
Keywords[is]=GIMP;graphic;design;illustration;painting;
Keywords[it]=GIMP;graphic;design;illustration;painting;
Keywords[ka]=GIMP;graphic;design;illustration;painting;
Keywords[lt]=GIMP;graphic;design;illustration;painting;
Keywords[lv]=GIMP;graphic;design;illustration;painting;
Keywords[mr]=GIMP;graphic;design;illustration;painting;
Keywords[nl]=GIMP;graphic;design;illustration;painting;
Keywords[pl]=GIMP;graphic;design;illustration;painting;
Keywords[pt]=GIMP;graphic;design;illustration;painting;
Keywords[pt_BR]=GIMP;graphic;design;illustration;painting;
Keywords[ro]=GIMP;graphic;design;illustration;painting;
Keywords[ru]=GIMP;graphic;design;illustration;painting;
Keywords[sk]=GIMP;graphic;design;illustration;painting;
Keywords[sl]=GIMP;graphic;design;illustration;painting;
Keywords[sr]=GIMP;graphic;design;illustration;painting;
Keywords[sr@latin]=GIMP;graphic;design;illustration;painting;
Keywords[sv]=GIMP;graphic;design;illustration;painting;
Keywords[tr]=GIMP;graphic;design;illustration;painting;
Keywords[uk]=GIMP;graphic;design;illustration;painting;
Keywords[vi]=GIMP;graphic;design;illustration;painting;
Keywords[zh_CN]=GIMP;graphic;design;illustration;painting;
Keywords[zh_TW]=GIMP;graphic;design;illustration;painting;
Exec=gimp-2.10 %U
TryExec=gimp-2.10
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/x-sun-raster;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/x-exr;image/webp;image/x-webp;image/heif;image/heic;image/avif;image/jxl;image/svg+xml;application/pdf;image/x-wmf;image/jp2;image/x-xcursor;


