# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=GoldenDict
Comment=Dictionary lookup program that supports multiple dictionary formats.
Icon=GoldenDict.png
# https://github.com/Abs62/goldendict.git
Exec=/mnt/hdd2/PortablePrograms/GoldenDict-661dd4d-x86_64.AppImage
Terminal=false
Categories=;
