# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=Inkscape Official AppImage package
Comment=Inkscape Vector Graphics Editor (Official)
Icon=inkscape.svg
Exec=/mnt/hdd2/PortablePrograms/Inkscape-e7c3feb-x86_64.AppImage
Terminal=false
Categories=;

# Extensions:
# Extensions' page: https://inkscape.org/gallery/%3Dextension/
# Path on the system:
# ~/.config/inkscape/extensions/
# chmod +x *.py
# chmod +x *.inx
# Knob Scale Generator: https://inkscape.org/~sincoon/%E2%98%85knob-scale-generator
# or
# https://github.com/leechwort/knob-scale-generator
