# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=Kdenlive
Comment=Video Editor
Icon=kdenlive
Exec=/mnt/hdd2/PortablePrograms/kdenlive-24.02.2-x86_64.AppImage
Terminal=false
Categories=;
