#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=QuillBot: Make Writing Painless
Exec=/opt/microsoft/msedge-dev/microsoft-edge-dev --profile-directory=Default --app-id=lefcehnijcoihbmmkljohoegigalpcnd "--app-url=https://quillbot.com/login?returnUrl=%2F&authRedirect=1"
Icon=quillbot
StartupWMClass=crx__lefcehnijcoihbmmkljohoegigalpcnd
Comment=
Path=
StartupNotify=false
