#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=A Tiny Grammarly Hack
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=hekmmlobaamlpopiaijbkpkndchjecoc --app-url=https://eli4d.github.io/tiny-grammarly-hack.html
Icon=icon-grammarly
StartupWMClass=crx__hekmmlobaamlpopiaijbkpkndchjecoc
