# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=OpenShot
Comment=A simple Video Editor for Windows, macOS, Linux, and ChromeOS.
Icon=openshot-qt.svg
# https://www.openshot.org/
Exec=/mnt/hdd2/PortablePrograms/OpenShot-v3.2.1-x86_64.AppImage
Terminal=false
Categories=;
