# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=Pencil2D Animation
# https://www.pencil2d.org/
Comment=Make 2D hand-drawn animations
Icon=pencil_icon.png
Exec=/mnt/hdd2/PortablePrograms/pencil2d-linux-amd64-0.7.0.AppImage
Terminal=false
Categories=;
