# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=saleae Logic 2
Comment=Logic Analyzer. Debug hardware like the pros.
Icon=LogicIcon.png
# https://www.saleae.com/pages/downloads
Exec=/mnt/hdd2/PortablePrograms/Logic-2.4.14-linux-x64.AppImage --no-sandbox
# ~ 179 MB
Terminal=false
Categories=;
