# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

[Desktop Entry]
Type=Application
Name=Surf Grammarly Free Paraphrasing Tool. Quickly reword sentences for essays, emails, articles, and more.
Comment=Free Grammar Checker. Write with confidence using Grammarly’s AI-powered grammar checker.
Icon=icon-grammarly
Exec=surf https://www.grammarly.com/paraphrasing-tool
Terminal=false
Categories=;
