[Desktop Entry]
Encoding=UTF-8
Terminal=0
# https://www.xnview.com/en/xnconvert/#downloads
Exec=/mnt/hdd2/PortablePrograms/XnConvert/xnconvert.sh
Icon=/mnt/hdd2/PortablePrograms/XnConvert/xnconvert.png
Type=Application
Categories=Graphics;
StartupNotify=true
Name=XnConvert
GenericName=XnConvert

